#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
# >=3 create conffiles automatically
#export DH_COMPAT=5

# Name our packages
package-vim=kwtools-vimskel
etc_path=/etc
doc_path=/usr/share/doc

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	#/usr/bin/docbook-to-man debian/kwtools.sgml > kwtools.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/kwtools-*.
	
	# kwtools-vimskel
	cp -a etc/skel $(CURDIR)/debian/$(package-vim)/$(etc_path)
	cp -a AUTHORS changelog* copyright README* Release TODO \
		$(CURDIR)/debian/$(package-vim)/$(doc_path)/$(package-vim)

# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
